<a href="https://colab.research.google.com/github/Leo2park/new/blob/main/BigData_example1_LAB_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8(20230525).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.기출문제 (빅분기 실기 2회)

#### 1-1. 
데이터 전처리 단계에서 발견하는 값으로 관측된 데이터 범위에서 많이 벗어나 있는 아주 작거나 아주 큰 값으로 정상 범위를 벗어난 값을 의미하는 것은 무엇인가?

#### 1-2. 
정답지, label이 없다, 대표적분석에 군집분석, 연관분석 등이 있다. 해당 기법을 뭐라하는가?

#### 1-3.
모델을 생성시 사용자가 직접 변경/설정해 주어야하는 것은 무엇인가?

#### 1-4.
결측값을 대치 하는 방법 중 평균값을 사용해 대치하는 방법은?

#### 1-5.
모델의 학습에서는 정확도가 높게 나오지만 테스트 셋에서는 정확도가 낮게 나오는 것을 무엇이라하는가?

#### 1-6.
변수 선택 방법 중 모든 변수를 활용해 하나씩 제거해 가는 방법은?

#### 1-7. 
모델 학습시 잘못된 결과에 대해 가중치를 반영해 모델을 생성하는 방법?

#### 1-8. 
TPR , FPR 로 그려서 확인하는 곡선은?

#### 1-9.
마지막 은닉층 2개의 값이 [0.2, -0.3]이고,  가중치가 [0.3, 0.1]이다. bias -0.05, 출력층 노드가 1개 이고, f(x) = x , if x >= 0, 그외 -1 일때 출력값은 무엇인가?

#### 1-10.
앙상블 기법의 한 가지 종류로 회귀, 분류 모델에 사용되며, 약학습기 여러 개를 사용하는 부스팅 알고리즘에 속한다. 가중치 업데이트를 경사하강법을 이용해 최적화된 결과를 얻는 알고리즘이다.

## 2.기출문제 (빅분기 실기 2회)

In [1]:
!git clone https://github.com/Soyoung-Yoon/bigdata

Cloning into 'bigdata'...
remote: Enumerating objects: 53, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 53 (delta 0), reused 0 (delta 0), pack-reused 50
Unpacking objects: 100% (53/53), 14.21 MiB | 6.23 MiB/s, done.

#### 2-1. 보스턴 데이터
보스턴 데이터 범죄율 컬럼('CRIM')의 top10 중 10번째 범죄율 값으로 1~10위의 범죄율 값을 변경 후, 'AGE' 변수의 값이 80이상인 것에 대한 범죄율 평균을 산출하라.

In [15]:
## sklearn에서 더이상 boston 데이터를 제공하지 않으므로 교체합니다.
##from sklearn.datasets import load_boston
import pandas as pd
df = pd.read_csv('bigdata/boston.csv')
df.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5.0,311.0,15.2,386.71,17.10,18.9

In [17]:
t = df.sort_values('CRIM', ascending=False)
t.iloc[:10,0] = t.iloc[9,0]
t.head(11)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
380,25.9406,0.0,18.1,0.0,0.671,6.968,91.9,1.4165,24.0,666.0,20.2,396.90,17.21,10.4
418,25.9406,0.0,18.1,0.0,0.679,5.957,100.0,1.8026,24.0,666.0,20.2,16.45,20.62,8.8
405,25.9406,0.0,18.1,0.0,0.693,5.683,100.0,1.4254,24.0,666.0,20.2,384.97,22.98,5.0
410,25.9406,0.0,18.1,0.0,0.597,5.757,100.0,1.4130,24.0,666.0,20.2,2.60,10.11,15.0
414,25.9406,0.0,18.1,0.0,0.693,4.519,100.0,1.6582,24.0,666.0,20.2,88.27,36.98,7.0
404,25.9406,0.0,18.1,0.0,0.693,5.531,85.4,1.6074,24.0,666.0,20.2,329.46,27.38,8.5
398,25.9406,0.0,18.1,0.0,0.693,5.453,100.0,1.4896,24.0,666.0,20.2,396.90,30.59,5.0
427,25.9406,0.0,18.1,0.0,0.679,6.202,78.7,1.8629,24.0,666.0,20.2,18.82,14.52,10.9
413,25.9406,0.0,18.1,0.0,0.597,5.155,100.0,1.5894,24.0,666.0,20.2,210.97,20.08,16.3
417,25.9406,0.0,18.1,0.0,0.679,5.304,89.1,1.6475,24.0,666.0,20.2,127.36,26.64,10.4
400,25.0461,0.0,18.1,0.0,0.693,5.987,100.0,1.5888,24.0,666.0,20.2,396.90,26.77,5.6

In [19]:
t2 = t[t['AGE']>=80]
result = t2['CRIM'].mean()
print(result)

5.759386625

#### 2-2. 하우징 데이터
- housing.csv 파일을 사용한다
- 주어진 데이터의 첫번째 행 부터 순서대로 80% 까지의 데이터를 추출 후 'total_bedrooms' 변수의 결측값(NA)을 'total_bedrooms' 변수의 중앙값으로 대체하고,
- 대체 전의 'total_bedrooms' 변수 표준편차값과 대체 후의 'total_bedrooms' 변수 표준편차 값을 산출하여
- 대체 전 표준편차 값 - 대체 후 표준편차 값을 구해 출력한다.

In [ ]:
# https://www.kaggle.com/camnugent/introduction-to-machine-learning-in-r-tutorial

In [21]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv')
df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY

In [33]:
# 위치 순서대로 보았을 때 80% 위치의 위치 번호
df.shape, df.shape[0]*0.8

((20640, 10), 16512.0)

In [34]:
# 16512 번까지의 자료를 가져와 표준편차, 중앙값 구하기
bedrooms = df['total_bedrooms'][:16512]
before_std = bedrooms.std()
median = bedrooms.median()
# 결측치를 median으로 채우기
bedrooms = bedrooms.fillna(median)
# 결측치를 채운 뒤의 표준편차 구하기
after_std = bedrooms.std()
# 결측치 채우기 전, 후의 표준편차의 차이 구하기
result = before_std - after_std 
print(result)

1.9751472916456692

#### 2-3. 하우징 데이터 
- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv' 파일을 사용한다
- 하우징 데이터에서 'latitude' 컬럼의 이상치를 찾아 이상치들의 합을 산출하시오.
- 이상치 기준 : 평균 - (표준편차 * 1.5), 평균 + (표준편차 * 1.5)

In [ ]:
#평균 - (표준편차 * 1.5), 평균 + (표준편차 * 1.5)

In [39]:
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv')
latitude = df['latitude']
mean, std = df['latitude'].agg(['mean','std'])
lower = mean-(std*1.5) 
upper = mean+(std*1.5)

result = latitude[(lower > latitude) | (upper < latitude)].sum()
print(result)

45815.75

## 3.기출문제 (빅분기 실기 2회)
- 고객 구매 데이터를 사용해서 고객이 주문한 물품이 제 시간에 도착여부(Reached.on.Time_Y.N) 예측
- X_train.csv, y_train.csv : 학습 및 학습평가에 사용하는 파일
- X_test.csv : 제출용 데이터 생성에 사용하는 파일
- roc_score를 사용하여 평가
- 아래의 형식으로 submission수험번호.csv 로 저장
- Reached.on.Time_Y.N은 제 시간에 도착할 확률
        ID,Reached.on.Time_Y.N
        7007,0.27419354838709675
        9793,0.4883720930232558
        6593,0.48174157303370785
        10527,0.3657243816254417

### 3-01.문제이해

In [ ]:
# https://www.kaggle.com/prachi13/customer-analytics?select=Train.csv
# 기출에서 기억나는 것
# - 컬럼 중 1개가 숫자형으로 안내 되었는데 info() 결과 object로 표시됨
# - head() 로 해서 표시되지 않았음 
# - value가 '1', '*7', '4', '9', '*7' 이렇게 되어 있어서 '*'을 제거하고 dtype을 변경해야함

In [43]:
import pandas as pd
# 이상한 것 확인
df = pd.DataFrame({'rating': ['1', '2', '4', '*7', '8', '*7', '3', '5', '2', '*4']})

In [45]:
# 해결 방법
df['rating'] = df['rating'].str.replace('*','').astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rating  10 non-null     int64
dtypes: int64(1)
memory usage: 208.0 bytes

<ipython-input-45-986439ab728b>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['rating'] = df['rating'].str.replace('*','').astype('int64')

### 3-02.데이터 불러오기, 탐색

***pandas의 출력 설정 옵션 다시 확인하세요!***

In [ ]:
# [0] 사용 라이브러리 import
import pandas as pd

# 데이타가 많은경우 모두 출력 안되고 ... 으로 생략해서 출력됨.
pd.set_option('display.max_rows',500)    #출력할 max row를 지정
pd.set_option('display.max_columns',20)  #출력할 max columns를 지정
#출력 format 지정 - 소수점아래 4자리까지
pd.set_option('display.float_format', '{:.4f}'.format)

In [ ]:
# [0] x_train, x_test 데이터로 생성함
# 이 부분은 시험에서는 없습니다. 그냥 데이터를 3개로 나누기 위해 사용한 것입니다.
from sklearn.model_selection import train_test_split

dftot = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/1st_Train.csv')
x_train, x_test = train_test_split(dftot, test_size=0.4, stratify=dftot['Reached.on.Time_Y.N'], random_state=0)
y_train = x_train[['Reached.on.Time_Y.N']]
x_train = x_train.drop(columns='Reached.on.Time_Y.N')
y_test = x_test[['Reached.on.Time_Y.N']]   # 이것은 시험에서는 제공되지 않음
x_test = x_test.drop(columns='Reached.on.Time_Y.N')

x_train.to_csv('x_train.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
x_test.to_csv('x_test.csv', index=False)
y_test.to_csv('y_test.csv', index=False) # 이것은 시험에서는 제공되지 않음

In [ ]:
x_train.shape, y_train.shape, x_test.shape

((6599, 11), (6599, 1), (4400, 11))

In [46]:
# 여기에 문제를 풀이해 보세요!
import pandas as pd

pd.set_option('display.max_rows',500)
pd.set_option('display.max_columns',500)
pd.set_option('display.float_format','{:.4f}'.format)

In [51]:
# [0] x_train, x_test 데이터로 생성함
# 문제 출제 형식에 맞도록 변환한 것입니다.  시험에서는 이런 코드가 없습니다.
from sklearn.model_selection import train_test_split

dftot = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/1st_Train.csv')
x_train, x_test= train_test_split(dftot, test_size=0.4, stratify=dftot['Reached.on.Time_Y.N'], random_state=0)
y_train = x_train['Reached.on.Time_Y.N']
x_train = x_train.drop(columns='Reached.on.Time_Y.N')
y_test = x_test['Reached.on.Time_Y.N']
x_test = x_test.drop(columns='Reached.on.Time_Y.N')

x_train.to_csv('x_train.csv', index = False)
x_test.to_csv('x_test.csv', index = False)
y_train.to_csv('y_train.csv', index = False)
y_test.to_csv('y_test.csv', index = False)

In [66]:
import sklearn
# dir(sklearn)
# help(sklearn)
dir(sklearn.linear_model)

['ARDRegression',
 'BayesianRidge',
 'ElasticNet',
 'ElasticNetCV',
 'GammaRegressor',
 'Hinge',
 'Huber',
 'HuberRegressor',
 'Lars',
 'LarsCV',
 'Lasso',
 'LassoCV',
 'LassoLars',
 'LassoLarsCV',
 'LassoLarsIC',
 'LinearRegression',
 'Log',
 'LogisticRegression',
 'LogisticRegressionCV',
 'ModifiedHuber',
 'MultiTaskElasticNet',
 'MultiTaskElasticNetCV',
 'MultiTaskLasso',
 'MultiTaskLassoCV',
 'OrthogonalMatchingPursuit',
 'OrthogonalMatchingPursuitCV',
 'PassiveAggressiveClassifier',
 'PassiveAggressiveRegressor',
 'Perceptron',
 'PoissonRegressor',
 'QuantileRegressor',
 'RANSACRegressor',
 'Ridge',
 'RidgeCV',
 'RidgeClassifier',
 'RidgeClassifierCV',
 'SGDClassifier',
 'SGDOneClassSVM',
 'SGDRegressor',
 'SquaredLoss',
 'TheilSenRegressor',
 'TweedieRegressor',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_base',
 '_bayes',
 '_cd_fast',
 '_coordinate_descent',
 '_glm',
 '_huber',
 '_least_angle',
 '_linear_loss',
 '_logistic',
 '_omp',
 '_passive_aggressive',
 '_perceptron',
 '_quantile',
 '_ransac',
 '_ridge',
 '_sag',
 '_sag_fast',
 '_sgd_fast',
 '_stochastic_gradient',
 '_theil_sen',
 'enet_path',
 'lars_path',
 'lars_path_gram',
 'lasso_path',
 'orthogonal_mp',
 'orthogonal_mp_gram',
 'ridge_regression']

In [122]:
# [0] 사용 라이브러리 import
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from sklearn.metrics import roc_auc_score

pd.set_option('display.max_rows',500)
pd.set_option('display.max_columns',20)
pd.set_option('display.float_format','{:.4f}'.format)

# [1] x_train.csv, y_train.csv, x_test.csv 읽어오기
X = pd.read_csv('x_train.csv')
Y = pd.read_csv('y_train.csv')
X_submission = pd.read_csv('x_test.csv')

# [2] X, X_submission 합치기 (필수는 아님)

dfX = pd.concat([X,X_submission],ignore_index = True)
# [3] df의 정보 확인 
# print(dfX.shape)  #(10999, 11)
# print(dfX.head(2))
# print(dfX.info())

        # 1   Warehouse_block      10999 non-null  object
        # 2   Mode_of_Shipment     10999 non-null  object
        # 7   Product_importance   10999 non-null  object
        # 8   Gender               10999 non-null  object

# [4] 결측치 점검
dfX.isna().sum()

# [5] X,Y를 합쳐 dfXY를 만듦
dfXY = pd.concat([dfX,Y],axis=1)
# dfXY.shape   # (10999, 12)
# print(dfXY.head(5))

# [6] dfX의 각 컬럼의 값 종류 개수 - 1인 것 제거하기 위해
# print(dfX.nunique())

# [7] Object 타입에 대한 Label Encoding
df_LE = dfX.copy()
df_LE['Warehouse_block']= dfX['Warehouse_block'].replace(['A', 'B', 'C', 'D', 'F'],
                                                        [0, 1, 2, 3, 4])
df_LE['Mode_of_Shipment']= dfX['Mode_of_Shipment'].replace(['Ship', 'Road', 'Flight'],
                                                        [0, 1, 2])
df_LE['Product_importance']= dfX['Product_importance'].replace(['low', 'medium', 'high'], 
                                                            [0, 1, 2])
df_LE['Gender']=dfX['Gender'].replace(['F','M'],[0,1],regex=True)
# df_LE.info()

# [8] train score, test score, roc_auc_score 를 반환하는 함수 작성
def get_scores(model,xtrain, xtest, ytrain, ytest):
  A = model.score(xtrain,ytrain)
  B = model.score(xtest,ytest)
  ypred = model.predict_proba(xtest)[:,1]
  C = roc_auc_score(ytest,ypred)
  print(f'{A:.4f}{B:.4f}{C:.4f}')

# [9] 다양한 모델을 만들고 성능을 출력하는 함수 작성
def make_models(xtrain, xtest, ytrain, ytest):
  model1 = LogisticRegression().fit(xtrain,ytrain)
  print('model1',get_scores(model1,xtrain, xtest, ytrain, ytest))
  
  for k in range(1,10):
    model2 = KNeighborsClassifier(k).fit(xtrain,ytrain)
    print('model2',k,get_scores(model2,xtrain, xtest, ytrain, ytest))

  model3 = DecisionTreeClassifier(random_state=0).fit(xtrain,ytrain)
  print('model3',get_scores(model3,xtrain, xtest, ytrain, ytest))

  for d in range(3,8):
    model3 = DecisionTreeClassifier(max_depth=d,random_state=0).fit(xtrain,ytrain)
    print('model3',d,get_scores(model3,xtrain, xtest, ytrain, ytest))

  model4 = RandomForestClassifier(random_state=0).fit(xtrain,ytrain)
  print('model4',get_scores(model4,xtrain, xtest, ytrain, ytest))

  for r in range(3,8):
    model4 = RandomForestClassifier(500, max_depth=r,random_state=0).fit(xtrain,ytrain)
    print('model4',r,get_scores(model4,xtrain, xtest, ytrain, ytest))

  model5 = XGBClassifier().fit(xtrain,ytrain)
  print('model5',get_scores(model5,xtrain, xtest, ytrain, ytest))

  
# [10] X를 train 용도, submission 용도로 나누고, Y를 1차원으로 바꿈 (MinMaxScaler 적용)
def get_data(dfX,Y):
  X = dfX.drop(columns=['ID'])
  X_use = X.iloc[:6599,:]
  X_submission = X.iloc[6599:,:]
  Y1 = Y['Reached.on.Time_Y.N']
  scaler = MinMaxScaler()
  X1_use = scaler.fit_transform(X_use)
  X1_submission = scaler.fit_transform(X_submission)
  # print(X1_use.shape,X1_submission.shape,Y1.shape)
  return X1_use, X1_submission, Y1  

# [11] df_LE 사용 
# X, Y 분리하기
X1_use, X1_submission, Y1  = get_data(df_LE,Y)

# train, test  7:3 분할, stratify 적용, random_state=0 적용
xtrain1, xtest1, ytrain1, ytest1 = train_test_split(X1_use,Y1,test_size=0.25,stratify=Y1,random_state=0)
# print(xtrain1, xtest1, ytrain1, ytest1)

# 다양한 모델 만들어 보기  - 성능 확인 후 꼭 주석!
# make_models(xtrain1, xtest1, ytrain1, ytest1)
# [12] 최종적으로 사용할 모델을 선택하여 model로 다시 생성합니다.
model = DecisionTreeClassifier(max_depth=4,random_state=0).fit(xtrain1,ytrain1)
print('final model',get_scores(model3,xtrain1, xtest1, ytrain1, ytest1))

# [13] test 데이터에 대한 확률 구하기, 파일로 저장하기
ypred = model.predict_proba(X1_submission)[:,1]
submission = pd.DataFrame({"ID":X_submission['ID'],"Reached.on.Time_Y.N":ypred})
submission.to_csv('00100100.csv', index=False)

# [14] submission 확인
temp = pd.read_csv('00100100.csv')
print(temp.head(5))

0.68840.68000.7508
final model None
      ID  Reached.on.Time_Y.N
0   7007               0.5023
1   9793               0.5023
2   6593               0.4616
3  10527               0.3942
4   6914               0.4616